@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fauna+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Fauna One", serif; }

header {
  display: flex;
  flex-direction: column;
  height: 800px;
  margin-bottom: 0;
  padding-bottom: 0; }
  header .topbar {
    height: 39px;
    background-color: rgba(0, 0, 0, 0.618);
    margin: 0;
    padding: 0; }
    header .topbar p {
      color: white;
      text-align: center;
      font-size: 18px;
      line-height: 39px;
      padding-top: px; }
  header .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    height: 137px; }
    header .section .logo img {
      padding: 23px;
      height: 50px;
      width: 235px; }
    header .section .search {
      position: relative;
      display: inline-block; }
      header .section .search input {
        height: 39px;
        width: 632px;
        padding: 5px 10px;
        border-radius: 50px;
        border: 1px solid rgba(165, 164, 164, 0.474); }
        header .section .search input:focus {
          border-color: rgba(122, 120, 120, 0.811);
          outline: none; }
      header .section .search .fa-search {
        position: absolute;
        padding-right: 5px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
        pointer-events: none; }
    header .section .links ul {
      display: flex;
      list-style: none;
      align-items: center;
      text-decoration: none;
      padding: 0;
      margin-right: 50px; }
      header .section .links ul li {
        margin-right: 40px;
        font-family: "Fauna One", serif;
        font-weight: 800; }
        header .section .links ul li a {
          width: 90px;
          height: 50px;
          font-size: 20px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.827); }
          header .section .links ul li a:hover {
            color: black; }
        header .section .links ul li .button {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
          display: flex;
          height: 50px;
          align-items: center; }
          header .section .links ul li .button span {
            padding-right: 10px;
            font-size: 20px;
            font-family: "Fauna One", serif;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.685); }
            header .section .links ul li .button span:hover {
              color: black; }
          header .section .links ul li .button .fa-cart-shopping {
            padding: 0px 10px;
            font-size: 20px; }
          header .section .links ul li .button .item-counter {
            position: absolute;
            right: 60px;
            background-color: #dd4444;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-size: 0.8em; }
  header .nav {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0; }
    header .nav .navl {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 10px;
      font-family: "Fauna One", serif;
      font-size: 23px; }
      header .nav .navl li {
        margin-right: 20px; }
        header .nav .navl li a {
          text-decoration: none;
          font-weight: 800;
          color: rgba(0, 0, 0, 0.685); }
          header .nav .navl li a:hover {
            color: black; }
          header .nav .navl li a span {
            padding: 13px; }
    header .nav .ddmm {
      position: absolute;
      top: calc(100% + 10px);
      z-index: 2;
      display: none;
      background-color: white;
      width: 1100px;
      height: 310px;
      border: 1px solid rgba(165, 164, 164, 0.474);
      justify-content: space-around;
      font-family: "Fauna One", serif;
      margin-top: 0px;
      margin-left: 200px; }
      header .nav .ddmm ul {
        display: flex;
        flex-direction: column;
        list-style-type: none; }
        header .nav .ddmm ul .titulol {
          padding-top: 15px;
          font-weight: 800;
          font-size: 27px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.685); }
          header .nav .ddmm ul .titulol:hover {
            color: black; }
        header .nav .ddmm ul .hr {
          width: 90%;
          height: 1px;
          margin-top: 10px;
          margin-left: 0px;
          background-color: rgba(122, 120, 120, 0.811);
          text-align: left; }
        header .nav .ddmm ul li {
          padding-top: 5px; }
          header .nav .ddmm ul li a {
            padding-top: 15px;
            font-weight: 800;
            font-size: 16px;
            text-decoration: none;
            color: rgba(86, 81, 81, 0.477); }
            header .nav .ddmm ul li a:hover {
              color: #565151; }
      header .nav .ddmm.visible {
        display: flex; }
  header .buffer {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around; }
    header .buffer a img {
      height: 550px;
      width: 630px; }

.breadcrumb {
  height: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .breadcrumb p {
    font-size: 22px;
    padding: 30px 20px; }
    .breadcrumb p a {
      text-decoration: none; }
    .breadcrumb p .b {
      background-color: white;
      font-size: 23px;
      color: #a39e9e;
      border: none;
      padding: 0px 13px;
      cursor: pointer; }
      .breadcrumb p .b:hover {
        color: #090909; }
      .breadcrumb p .b.active {
        color: #090909; }

.tituloi {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 41px;
  padding-top: 20px;
  margin-bottom: 0; }
  .tituloi .bordet {
    font-family: "Fauna One", serif;
    font-size: 23px;
    text-decoration: none;
    padding: 13px;
    color: rgba(0, 0, 0, 0.827);
    vertical-align: center;
    border-bottom: 1px solid rgba(122, 120, 120, 0.811); }
    .tituloi .bordet:hover {
      color: black; }

.grid {
  margin-top: 50px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Cuatro columnas iguales */
  grid-template-rows: repeat(4, auto);
  /* Cuatro filas automáticas */
  gap: 20px;
  /* Espacio entre las celdas del grid */ }
  .grid .producto {
    width: 300px;
    height: 388px;
    display: flex;
    flex-direction: column; }
    .grid .producto .p-img {
      position: relative;
      height: 300px;
      width: 300px;
      border-right: 1px solid rgba(0, 0, 0, 0.074);
      border-left: 1px solid rgba(0, 0, 0, 0.075); }
      .grid .producto .p-img .off {
        position: absolute;
        z-index: 1000;
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
        /* Posiciona de forma absoluta con respecto al padre */
        top: 0;
        /* Lo sitúa en la parte superior */
        left: 0;
        /* Lo sitúa en la parte izquierda */
        background-color: #e21010;
        padding: 2px;
        text-align: center;
        color: white;
        width: 70px;
        height: 20px; }
      .grid .producto .p-img .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease-in-out; }
        .grid .producto .p-img .image-container img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.2s ease-in-out; }
        .grid .producto .p-img .image-container .original {
          opacity: 1; }
        .grid .producto .p-img .image-container .hover {
          opacity: 0; }
      .grid .producto .p-img .lupa {
        position: absolute;
        font-size: 18px;
        right: 10px;
        bottom: 20px;
        width: 44px;
        height: 44px;
        background-color: #bab9b9;
        color: #fff9f9;
        border-radius: 50%;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(60px);
        transition: all 0.2s ease-in-out;
        opacity: 0; }
      .grid .producto .p-img:hover .off {
        opacity: 0; }
      .grid .producto .p-img:hover .image-container .original {
        opacity: 0; }
      .grid .producto .p-img:hover .image-container .hover {
        opacity: 1; }
      .grid .producto .p-img:hover .lupa {
        opacity: 1;
        transform: translateY(0); }
    .grid .producto .p-info {
      width: 300px;
      padding: 10px;
      font-family: "Fauna One", serif;
      font-size: 18px; }
      .grid .producto .p-info .p-titulo {
        text-decoration: none;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.625); }
        .grid .producto .p-info .p-titulo:hover {
          color: rgba(0, 0, 0, 0.885); }
      .grid .producto .p-info .p-precio {
        padding-top: 10px;
        font-weight: 100;
        color: rgba(238, 39, 39, 0.837); }
        .grid .producto .p-info .p-precio:hover {
          color: #ee2727; }

.buffer2 {
  position: relative;
  width: 100%;
  height: 345px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .buffer2 a img {
    height: 345px;
    width: 300px; }

.buffer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: #fafafa; }
  .buffer3 .bimg {
    text-align: center;
    font-size: 39px; }
    .buffer3 .bimg h4 {
      padding-top: 30px;
      font-size: 23px; }

.buffer4 {
  margin: 30px 10px;
  height: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.main {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .main .filtros {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: "Fauna One", serif;
    margin-left: 18px; }
    .main .filtros .ddf {
      flex-direction: column; }
      .main .filtros .ddf .titulo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: "Fauna One", serif;
        font-size: 23px;
        margin-left: 3px;
        padding: 13px;
        border: none;
        cursor: pointer; }
        .main .filtros .ddf .titulo .flecha-arriba {
          font-size: 24px;
          /* Tamaño de la fuente */
          color: #000;
          /* Color de la flecha */ }
          .main .filtros .ddf .titulo .flecha-arriba:hover {
            color: #9a9494; }
        .main .filtros .ddf .titulo p {
          font-size: 20px;
          font-weight: 600;
          padding-left: 5px; }
      .main .filtros .ddf .talles {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: "Fauna One", serif;
        padding-bottom: 13px; }
        .main .filtros .ddf .talles .bt {
          background-color: white;
          color: #3f3c3c;
          border: none;
          cursor: pointer;
          margin: 3px;
          padding: 10px;
          font-size: 23px;
          font-weight: 200;
          border: 1px solid #ccc;
          transition: all 0.2s ease-in-out; }
          .main .filtros .ddf .talles .bt:hover {
            background-color: #3f3c3c;
            color: white; }
        .main .filtros .ddf .talles.mostrar {
          display: flex;
          /* Muestra los talles */ }
      .main .filtros .ddf .marcas,
      .main .filtros .ddf .colores,
      .main .filtros .ddf .materiales {
        display: none;
        flex-direction: column; }
        .main .filtros .ddf .marcas .marca-label,
        .main .filtros .ddf .marcas .color-label,
        .main .filtros .ddf .marcas .material-label,
        .main .filtros .ddf .colores .marca-label,
        .main .filtros .ddf .colores .color-label,
        .main .filtros .ddf .colores .material-label,
        .main .filtros .ddf .materiales .marca-label,
        .main .filtros .ddf .materiales .color-label,
        .main .filtros .ddf .materiales .material-label {
          padding: 10px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          .main .filtros .ddf .marcas .marca-label input[type="checkbox"],
          .main .filtros .ddf .marcas .color-label input[type="checkbox"],
          .main .filtros .ddf .marcas .material-label input[type="checkbox"],
          .main .filtros .ddf .colores .marca-label input[type="checkbox"],
          .main .filtros .ddf .colores .color-label input[type="checkbox"],
          .main .filtros .ddf .colores .material-label input[type="checkbox"],
          .main .filtros .ddf .materiales .marca-label input[type="checkbox"],
          .main .filtros .ddf .materiales .color-label input[type="checkbox"],
          .main .filtros .ddf .materiales .material-label input[type="checkbox"] {
            margin-right: 10px;
            cursor: pointer; }
          .main .filtros .ddf .marcas .marca-label .brand-name,
          .main .filtros .ddf .marcas .marca-label .color-name,
          .main .filtros .ddf .marcas .marca-label .material-name,
          .main .filtros .ddf .marcas .color-label .brand-name,
          .main .filtros .ddf .marcas .color-label .color-name,
          .main .filtros .ddf .marcas .color-label .material-name,
          .main .filtros .ddf .marcas .material-label .brand-name,
          .main .filtros .ddf .marcas .material-label .color-name,
          .main .filtros .ddf .marcas .material-label .material-name,
          .main .filtros .ddf .colores .marca-label .brand-name,
          .main .filtros .ddf .colores .marca-label .color-name,
          .main .filtros .ddf .colores .marca-label .material-name,
          .main .filtros .ddf .colores .color-label .brand-name,
          .main .filtros .ddf .colores .color-label .color-name,
          .main .filtros .ddf .colores .color-label .material-name,
          .main .filtros .ddf .colores .material-label .brand-name,
          .main .filtros .ddf .colores .material-label .color-name,
          .main .filtros .ddf .colores .material-label .material-name,
          .main .filtros .ddf .materiales .marca-label .brand-name,
          .main .filtros .ddf .materiales .marca-label .color-name,
          .main .filtros .ddf .materiales .marca-label .material-name,
          .main .filtros .ddf .materiales .color-label .brand-name,
          .main .filtros .ddf .materiales .color-label .color-name,
          .main .filtros .ddf .materiales .color-label .material-name,
          .main .filtros .ddf .materiales .material-label .brand-name,
          .main .filtros .ddf .materiales .material-label .color-name,
          .main .filtros .ddf .materiales .material-label .material-name {
            font-weight: bold; }
          .main .filtros .ddf .marcas .marca-label .counter,
          .main .filtros .ddf .marcas .color-label .counter,
          .main .filtros .ddf .marcas .material-label .counter,
          .main .filtros .ddf .colores .marca-label .counter,
          .main .filtros .ddf .colores .color-label .counter,
          .main .filtros .ddf .colores .material-label .counter,
          .main .filtros .ddf .materiales .marca-label .counter,
          .main .filtros .ddf .materiales .color-label .counter,
          .main .filtros .ddf .materiales .material-label .counter {
            margin-left: auto;
            color: #777; }
        .main .filtros .ddf .marcas.mostrar,
        .main .filtros .ddf .colores.mostrar,
        .main .filtros .ddf .materiales.mostrar {
          display: flex; }
      .main .filtros .ddf .precio {
        display: none;
        flex-direction: column; }
        .main .filtros .ddf .precio .slider {
          position: relative; }
          .main .filtros .ddf .precio .slider #minPrice,
          .main .filtros .ddf .precio .slider #maxPrice {
            margin: 0 10px; }
          .main .filtros .ddf .precio .slider input[type="range"] {
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            height: 10px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            transition: opacity 0.2s; }
            .main .filtros .ddf .precio .slider input[type="range"]:hover {
              opacity: 1; }
            .main .filtros .ddf .precio .slider input[type="range"]::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #313932;
              cursor: pointer; }
            .main .filtros .ddf .precio .slider input[type="range"]::-moz-range-thumb {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #4caf50;
              cursor: pointer; }
        .main .filtros .ddf .precio.mostrar {
          display: block; }
  .main .grid2 {
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Cuatro columnas iguales */
    grid-template-rows: repeat(4, auto);
    /* Cuatro filas automáticas */
    gap: 20px;
    /* Espacio entre las celdas del grid */ }
    .main .grid2 .producto {
      width: 100%;
      height: 388px;
      display: flex;
      flex-direction: column; }
      .main .grid2 .producto .p-img {
        position: relative;
        height: 300px;
        width: 300px;
        border-right: 1px solid rgba(0, 0, 0, 0.074);
        border-left: 1px solid rgba(0, 0, 0, 0.075); }
        .main .grid2 .producto .p-img .off {
          position: absolute;
          z-index: 1000;
          transition: opacity 0.2s ease-in-out;
          opacity: 1;
          /* Posiciona de forma absoluta con respecto al padre */
          top: 0;
          /* Lo sitúa en la parte superior */
          left: 0;
          /* Lo sitúa en la parte izquierda */
          background-color: #e21010;
          padding: 2px;
          text-align: center;
          color: white;
          width: 70px;
          height: 20px; }
        .main .grid2 .producto .p-img .image-container {
          position: relative;
          width: 100%;
          height: 100%;
          transition: opacity 0.2s ease-in-out; }
          .main .grid2 .producto .p-img .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.2s ease-in-out; }
          .main .grid2 .producto .p-img .image-container .original {
            opacity: 1; }
          .main .grid2 .producto .p-img .image-container .hover {
            opacity: 0; }
        .main .grid2 .producto .p-img .lupa {
          position: absolute;
          font-size: 18px;
          right: 10px;
          bottom: 20px;
          width: 44px;
          height: 44px;
          background-color: #bab9b9;
          color: #fff9f9;
          border-radius: 50%;
          pointer-events: none;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(60px);
          transition: all 0.2s ease-in-out;
          opacity: 0; }
        .main .grid2 .producto .p-img:hover .off {
          opacity: 0; }
        .main .grid2 .producto .p-img:hover .image-container .original {
          opacity: 0; }
        .main .grid2 .producto .p-img:hover .image-container .hover {
          opacity: 1; }
        .main .grid2 .producto .p-img:hover .lupa {
          opacity: 1;
          transform: translateY(0); }
      .main .grid2 .producto .p-info {
        width: 300px;
        padding: 10px;
        font-family: "Fauna One", serif;
        font-size: 18px; }
        .main .grid2 .producto .p-info .p-titulo {
          text-decoration: none;
          font-weight: 800;
          color: rgba(0, 0, 0, 0.625); }
          .main .grid2 .producto .p-info .p-titulo:hover {
            color: rgba(0, 0, 0, 0.885); }
        .main .grid2 .producto .p-info .p-precio {
          padding-top: 10px;
          font-weight: 100;
          color: rgba(238, 39, 39, 0.837); }
          .main .grid2 .producto .p-info .p-precio:hover {
            color: #ee2727; }
        .main .grid2 .producto .p-info p {
          display: none;
          font-size: 23px; }
    .main .grid2.list-view {
      display: flex;
      flex-direction: column; }
      .main .grid2.list-view .producto {
        width: 100%;
        height: auto;
        flex-direction: row; }
        .main .grid2.list-view .producto .p-img {
          height: 300px;
          width: 300px;
          border-right: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.074); }
          .main .grid2.list-view .producto .p-img .lupa {
            display: none; }
        .main .grid2.list-view .producto .p-info {
          width: calc(100% - 300px);
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.074); }
          .main .grid2.list-view .producto .p-info p {
            display: block;
            font-size: 23px;
            padding-top: 20px; }

.footer {
  height: 406px;
  background-color: #232323;
  color: white;
  padding: 10px 3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Fauna One", serif; }
  .footer .footer-sec {
    padding: 10px;
    margin: 0px 30px; }
    .footer .footer-sec h3 {
      font-size: 20px;
      font-weight: 700; }
    .footer .footer-sec ul {
      list-style-type: none; }
      .footer .footer-sec ul a {
        width: 100%;
        font-weight: 700;
        text-decoration: none; }
        .footer .footer-sec ul a li {
          color: rgba(255, 255, 255, 0.616);
          font-size: 16px;
          padding-top: 5px;
          font-weight: 300; }
          .footer .footer-sec ul a li:hover {
            color: white; }
    .footer .footer-sec p {
      padding-top: 13px;
      padding-bottom: 13px; }
    .footer .footer-sec section input {
      height: 27px;
      width: 350px;
      padding: 5px 10px;
      border-radius: 50px;
      color: white;
      border: 1px solid rgba(165, 164, 164, 0.474);
      background-color: transparent; }
    .footer .footer-sec .iconos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 13px;
      font-size: 23px; }
  .footer .footer-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around; }
    .footer .footer-img a .dataimg {
      width: 40px;
      height: 50px;
      float: center;
      padding-top: 30px; }
    .footer .footer-img h3 {
      padding: 30px; }
