@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fauna+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Fauna One", serif;
  /* Estilo del scrollbar */ }
  body::-webkit-scrollbar {
    width: 10px; }
  body::-webkit-scrollbar-track {
    background: #f1f1f1; }
  body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; }
  body::-webkit-scrollbar-thumb:hover {
    background: #555; }

header {
  display: flex;
  flex-direction: column;
  height: 800px;
  margin-bottom: 0;
  padding-bottom: 0; }
  header .topbar {
    height: 39px;
    background-color: rgba(0, 0, 0, 0.618);
    margin: 0;
    padding: 0; }
    header .topbar p {
      color: white;
      text-align: center;
      font-size: 18px;
      line-height: 39px;
      padding-top: px; }
  header .section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
    height: 137px; }
    header .section .menu-icon {
      display: none;
      /* Ocultar el icono del menú en pantallas grandes */ }
    header .section .mhamb {
      display: none;
      position: absolute;
      padding-top: 18px;
      top: 0;
      left: 0;
      /* Alinea el menú a la izquierda */
      z-index: 1000;
      /* Z-index alto para que aparezca encima de otros elementos */
      background-color: white;
      max-width: 331px;
      /* Ancho máximo */
      height: 640px;
      /* Altura automática */
      border: 1px solid rgba(165, 164, 164, 0.474);
      font-family: "Fauna One", serif;
      overflow-y: auto;
      /* Agrega un scroll vertical si el contenido es demasiado largo */
      /* Flexbox para disposición en columnas */
      flex-direction: column;
      /* Estilos del scrollbar */ }
      header .section .mhamb .close-icon {
        position: absolute;
        font-size: 20px;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5); }
      header .section .mhamb ul {
        flex: 1;
        /* Ocupa todo el espacio restante */
        list-style-type: none;
        padding: 0;
        padding-left: 5px;
        margin: 0; }
        header .section .mhamb ul .titulol {
          padding: 15px 0;
          font-weight: 800;
          font-size: 27px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.685); }
          header .section .mhamb ul .titulol:hover {
            color: black; }
        header .section .mhamb ul .hr {
          width: 90%;
          height: 1px;
          margin: 10px 0;
          background-color: rgba(122, 120, 120, 0.811); }
        header .section .mhamb ul li {
          padding: 5px 0; }
          header .section .mhamb ul li a {
            padding: 15px 0;
            font-weight: 800;
            font-size: 16px;
            text-decoration: none;
            color: rgba(86, 81, 81, 0.477); }
            header .section .mhamb ul li a:hover {
              color: #565151; }
      header .section .mhamb.visible {
        display: block; }
      header .section .mhamb::-webkit-scrollbar {
        width: 7px; }
      header .section .mhamb::-webkit-scrollbar-track {
        background: #f1f1f1; }
      header .section .mhamb::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px; }
    header .section .logo img {
      padding: 23px;
      height: 50px;
      width: 235px; }
    header .section .search {
      position: relative;
      display: inline-block; }
      header .section .search input {
        height: 39px;
        width: 632px;
        padding: 5px 10px;
        border-radius: 50px;
        border: 1px solid rgba(165, 164, 164, 0.474); }
        header .section .search input:focus {
          border-color: rgba(122, 120, 120, 0.811);
          outline: none; }
      header .section .search .fa-search {
        position: absolute;
        padding-right: 5px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
        pointer-events: none; }
    header .section .links ul {
      display: flex;
      list-style: none;
      align-items: center;
      text-decoration: none;
      padding: 0;
      margin-right: 50px; }
      header .section .links ul li {
        margin-right: 40px;
        font-family: "Fauna One", serif;
        font-weight: 800; }
        header .section .links ul li a {
          width: 90px;
          height: 50px;
          font-size: 20px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.827); }
          header .section .links ul li a:hover {
            color: black; }
        header .section .links ul li .button {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
          display: flex;
          height: 50px;
          align-items: center; }
          header .section .links ul li .button span {
            padding-right: 10px;
            font-size: 20px;
            font-family: "Fauna One", serif;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.685); }
            header .section .links ul li .button span:hover {
              color: black; }
          header .section .links ul li .button .fa-cart-shopping {
            padding: 0px 10px;
            font-size: 20px; }
            header .section .links ul li .button .fa-cart-shopping .item-counter {
              position: absolute;
              right: 60px;
              background-color: #dd4444;
              color: white;
              border-radius: 50%;
              padding: 5px;
              font-size: 0.8em; }
  header .nav {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0; }
    header .nav .navl {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 10px;
      font-family: "Fauna One", serif;
      font-size: 23px; }
      header .nav .navl li {
        margin-right: 20px; }
        header .nav .navl li a {
          text-decoration: none;
          font-weight: 800;
          color: rgba(0, 0, 0, 0.685); }
          header .nav .navl li a:hover {
            color: black; }
          header .nav .navl li a span {
            padding: 13px; }
    header .nav .ddmm {
      position: absolute;
      top: calc(100% + 10px);
      z-index: 2;
      display: none;
      background-color: white;
      width: 1100px;
      height: 310px;
      border: 1px solid rgba(165, 164, 164, 0.474);
      justify-content: space-around;
      font-family: "Fauna One", serif;
      margin-top: 0px;
      margin-left: 200px; }
      header .nav .ddmm ul {
        display: flex;
        flex-direction: column;
        list-style-type: none; }
        header .nav .ddmm ul .titulol {
          padding-top: 15px;
          font-weight: 800;
          font-size: 27px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.685); }
          header .nav .ddmm ul .titulol:hover {
            color: black; }
        header .nav .ddmm ul .hr {
          width: 90%;
          height: 1px;
          margin-top: 10px;
          margin-left: 0px;
          background-color: rgba(122, 120, 120, 0.811);
          text-align: left; }
        header .nav .ddmm ul li {
          padding-top: 5px; }
          header .nav .ddmm ul li a {
            padding-top: 15px;
            font-weight: 800;
            font-size: 16px;
            text-decoration: none;
            color: rgba(86, 81, 81, 0.477); }
            header .nav .ddmm ul li a:hover {
              color: #565151; }
      header .nav .ddmm.visible {
        display: flex; }
  header .buffer {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around; }
    header .buffer a img {
      height: 550px;
      width: 630px; }

@media screen and (max-width: 1300px) {
  header .section {
    justify-content: space-evenly; }
    header .section .menu-icon {
      display: block;
      /* Mostrar el icono del menú en pantallas pequeñas */
      margin-left: 20px;
      font-size: 27px;
      cursor: pointer; }
    header .section .logo img {
      padding-right: 5px; }
    header .section .search {
      display: none; }
    header .section .links ul {
      flex-direction: column;
      margin-right: 10px; }
      header .section .links ul li .button .fa-cart-shopping .item-counter {
        display: none; }
  header .nav {
    display: none; }
  header .buffer {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    /* Cambiado a auto para permitir que el alto sea dinámico */
    display: flex;
    flex-direction: column;
    /* Cambiado a columna para que las imágenes se ubiquen en columna */ }
    header .buffer a img {
      max-width: 100%;
      /* Cambiado a un ancho máximo del 100% para que las imágenes sean responsivas */
      height: auto;
      /* Cambiado a auto para que la altura se ajuste proporcionalmente */ } }

.headerp {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 0;
  padding-bottom: 0; }
  .headerp .topbarp {
    height: 39px;
    background-color: rgba(0, 0, 0, 0.618);
    margin: 0;
    padding: 0; }
    .headerp .topbarp .p {
      color: white;
      text-align: center;
      font-size: 18px;
      line-height: 39px;
      padding-top: px; }
  .headerp .sectionp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    height: 137px; }
    .headerp .sectionp .logop img {
      padding: 23px;
      height: 50px;
      width: 235px; }
    .headerp .sectionp .searchp {
      position: relative;
      display: inline-block; }
      .headerp .sectionp .searchp .inputp {
        height: 39px;
        width: 632px;
        padding: 5px 10px;
        border-radius: 50px;
        border: 1px solid rgba(165, 164, 164, 0.474); }
        .headerp .sectionp .searchp .inputp:focus {
          border-color: rgba(122, 120, 120, 0.811);
          outline: none; }
      .headerp .sectionp .searchp .fa-search {
        position: absolute;
        padding-right: 5px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
        pointer-events: none; }
    .headerp .sectionp .linksp ul {
      display: flex;
      list-style: none;
      align-items: center;
      text-decoration: none;
      padding: 0;
      margin-right: 50px; }
      .headerp .sectionp .linksp ul li {
        margin-right: 40px;
        font-family: "Fauna One", serif;
        font-weight: 800; }
        .headerp .sectionp .linksp ul li a {
          width: 90px;
          height: 50px;
          font-size: 20px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.827); }
          .headerp .sectionp .linksp ul li a:hover {
            color: black; }
        .headerp .sectionp .linksp ul li .button {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;
          display: flex;
          height: 50px;
          align-items: center; }
          .headerp .sectionp .linksp ul li .button span {
            padding-right: 10px;
            font-size: 20px;
            font-family: "Fauna One", serif;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.685); }
            .headerp .sectionp .linksp ul li .button span:hover {
              color: black; }
          .headerp .sectionp .linksp ul li .button .fa-cart-shopping {
            padding: 0px 10px;
            font-size: 20px; }
          .headerp .sectionp .linksp ul li .button .item-counter {
            position: absolute;
            right: 60px;
            background-color: #dd4444;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-size: 0.8em; }
  .headerp .navproductos {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0; }
    .headerp .navproductos .navl {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 10px;
      font-family: "Fauna One", serif;
      font-size: 23px; }
      .headerp .navproductos .navl li {
        margin-right: 20px; }
        .headerp .navproductos .navl li a {
          text-decoration: none;
          font-weight: 800;
          color: rgba(0, 0, 0, 0.685); }
          .headerp .navproductos .navl li a:hover {
            color: black; }
          .headerp .navproductos .navl li a span {
            padding: 13px; }
    .headerp .navproductos .ddmm {
      position: absolute;
      top: calc(100% + 10px);
      z-index: 1100;
      display: none;
      background-color: white;
      width: 1100px;
      height: 310px;
      border: 1px solid rgba(165, 164, 164, 0.474);
      justify-content: space-around;
      font-family: "Fauna One", serif;
      margin-top: 0px;
      margin-left: 200px; }
      .headerp .navproductos .ddmm ul {
        display: flex;
        flex-direction: column;
        list-style-type: none; }
        .headerp .navproductos .ddmm ul .titulol {
          padding-top: 15px;
          font-weight: 800;
          font-size: 27px;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.685); }
          .headerp .navproductos .ddmm ul .titulol:hover {
            color: black; }
        .headerp .navproductos .ddmm ul .hr {
          width: 90%;
          height: 1px;
          margin-top: 10px;
          margin-left: 0px;
          background-color: rgba(122, 120, 120, 0.811);
          text-align: left; }
        .headerp .navproductos .ddmm ul li {
          padding-top: 5px; }
          .headerp .navproductos .ddmm ul li a {
            padding-top: 15px;
            font-weight: 800;
            font-size: 16px;
            text-decoration: none;
            color: rgba(86, 81, 81, 0.477); }
            .headerp .navproductos .ddmm ul li a:hover {
              color: #565151; }
      .headerp .navproductos .ddmm.visible {
        display: flex; }

.breadcrumb {
  height: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .breadcrumb .bc {
    margin-left: 130px;
    font-size: 20px;
    padding: 30px 20px; }
    .breadcrumb .bc a {
      color: #646060;
      font-weight: 200;
      text-decoration: none; }
      .breadcrumb .bc a:hover {
        color: #090808; }
  .breadcrumb .opcionesgrilla span {
    margin-left: 13px;
    font-size: 23px;
    font-weight: 700; }
  .breadcrumb .opcionesgrilla .b {
    margin-left: 13px;
    background-color: white;
    font-size: 23px;
    font-weight: 600;
    color: #a39e9e;
    border: none;
    padding: 0px 13px;
    cursor: pointer; }
    .breadcrumb .opcionesgrilla .b:hover {
      color: #090909; }
    .breadcrumb .opcionesgrilla .b.active {
      color: #090909; }

.tituloi {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 41px;
  padding-top: 20px;
  margin-bottom: 0; }
  .tituloi .bordet {
    font-family: "Fauna One", serif;
    font-size: 23px;
    text-decoration: none;
    padding: 13px;
    color: rgba(0, 0, 0, 0.827);
    vertical-align: center;
    border-bottom: 1px solid rgba(122, 120, 120, 0.811); }
    .tituloi .bordet:hover {
      color: black; }

.grid {
  margin-top: 50px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Cuatro columnas iguales */
  grid-template-rows: repeat(4, auto);
  /* Cuatro filas automáticas */
  gap: 20px;
  /* Espacio entre las celdas del grid */ }
  .grid .producto {
    width: 300px;
    height: 388px;
    display: flex;
    flex-direction: column; }
    .grid .producto .p-img {
      position: relative;
      height: 300px;
      width: 300px;
      border-right: 1px solid rgba(0, 0, 0, 0.074);
      border-left: 1px solid rgba(0, 0, 0, 0.075); }
      .grid .producto .p-img .off {
        position: absolute;
        z-index: 1000;
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
        /* Posiciona de forma absoluta con respecto al padre */
        top: 0;
        /* Lo sitúa en la parte superior */
        left: 0;
        /* Lo sitúa en la parte izquierda */
        background-color: #e21010;
        padding: 2px;
        text-align: center;
        color: white;
        width: 70px;
        height: 20px; }
      .grid .producto .p-img .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease-in-out; }
        .grid .producto .p-img .image-container img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.2s ease-in-out; }
        .grid .producto .p-img .image-container .original {
          opacity: 1; }
        .grid .producto .p-img .image-container .hover {
          opacity: 0; }
      .grid .producto .p-img .lupa {
        position: absolute;
        font-size: 18px;
        right: 10px;
        bottom: 20px;
        width: 44px;
        height: 44px;
        background-color: #bab9b9;
        color: #fff9f9;
        border-radius: 50%;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(60px);
        transition: all 0.2s ease-in-out;
        opacity: 0; }
      .grid .producto .p-img:hover .off {
        opacity: 0; }
      .grid .producto .p-img:hover .image-container .original {
        opacity: 0; }
      .grid .producto .p-img:hover .image-container .hover {
        opacity: 1; }
      .grid .producto .p-img:hover .lupa {
        opacity: 1;
        transform: translateY(0); }
    .grid .producto .p-info {
      width: 300px;
      padding: 10px;
      font-family: "Fauna One", serif;
      font-size: 18px; }
      .grid .producto .p-info .p-titulo {
        text-decoration: none;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.625); }
        .grid .producto .p-info .p-titulo:hover {
          color: rgba(0, 0, 0, 0.885); }
      .grid .producto .p-info .p-precio {
        padding-top: 10px;
        font-weight: 100;
        color: rgba(238, 39, 39, 0.837); }
        .grid .producto .p-info .p-precio:hover {
          color: #ee2727; }

.buffer2 {
  position: relative;
  width: 100%;
  height: 345px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .buffer2 a img {
    height: 345px;
    width: 300px; }

.buffer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: #fafafa; }
  .buffer3 .bimg {
    text-align: center;
    font-size: 39px; }
    .buffer3 .bimg h4 {
      padding-top: 30px;
      font-size: 23px; }

.buffer4 {
  margin: 30px 10px;
  height: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
    align-items: center; }
  .buffer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; }
  .buffer3 {
    display: flex;
    flex-direction: column;
    height: auto; }
  .buffer4 {
    display: flex;
    flex-direction: column;
    height: auto; } }

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px; }
  .main .filtros {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: "Fauna One", serif;
    margin-left: 18px; }
    .main .filtros .ddf {
      flex-direction: column; }
      .main .filtros .ddf .titulo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: "Fauna One", serif;
        font-size: 23px;
        margin-left: 3px;
        padding: 13px;
        border: none;
        cursor: pointer; }
        .main .filtros .ddf .titulo .flecha-arriba {
          font-size: 24px;
          /* Tamaño de la fuente */
          color: #000;
          /* Color de la flecha */ }
          .main .filtros .ddf .titulo .flecha-arriba:hover {
            color: #9a9494; }
        .main .filtros .ddf .titulo p {
          font-size: 20px;
          font-weight: 600;
          padding-left: 5px; }
      .main .filtros .ddf .talles {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: "Fauna One", serif;
        padding-bottom: 13px; }
        .main .filtros .ddf .talles .bt {
          background-color: white;
          color: #3f3c3c;
          border: none;
          cursor: pointer;
          margin: 3px;
          padding: 10px;
          font-size: 23px;
          font-weight: 200;
          border: 1px solid #ccc;
          transition: all 0.2s ease-in-out; }
          .main .filtros .ddf .talles .bt:hover {
            background-color: #3f3c3c;
            color: white; }
        .main .filtros .ddf .talles.mostrar {
          display: flex;
          /* Muestra los talles */ }
      .main .filtros .ddf .marcas,
      .main .filtros .ddf .colores,
      .main .filtros .ddf .materiales {
        display: none;
        flex-direction: column; }
        .main .filtros .ddf .marcas .marca-label,
        .main .filtros .ddf .marcas .color-label,
        .main .filtros .ddf .marcas .material-label,
        .main .filtros .ddf .colores .marca-label,
        .main .filtros .ddf .colores .color-label,
        .main .filtros .ddf .colores .material-label,
        .main .filtros .ddf .materiales .marca-label,
        .main .filtros .ddf .materiales .color-label,
        .main .filtros .ddf .materiales .material-label {
          padding: 10px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          .main .filtros .ddf .marcas .marca-label input[type="checkbox"],
          .main .filtros .ddf .marcas .color-label input[type="checkbox"],
          .main .filtros .ddf .marcas .material-label input[type="checkbox"],
          .main .filtros .ddf .colores .marca-label input[type="checkbox"],
          .main .filtros .ddf .colores .color-label input[type="checkbox"],
          .main .filtros .ddf .colores .material-label input[type="checkbox"],
          .main .filtros .ddf .materiales .marca-label input[type="checkbox"],
          .main .filtros .ddf .materiales .color-label input[type="checkbox"],
          .main .filtros .ddf .materiales .material-label input[type="checkbox"] {
            margin-right: 10px;
            cursor: pointer; }
          .main .filtros .ddf .marcas .marca-label .brand-name,
          .main .filtros .ddf .marcas .marca-label .color-name,
          .main .filtros .ddf .marcas .marca-label .material-name,
          .main .filtros .ddf .marcas .color-label .brand-name,
          .main .filtros .ddf .marcas .color-label .color-name,
          .main .filtros .ddf .marcas .color-label .material-name,
          .main .filtros .ddf .marcas .material-label .brand-name,
          .main .filtros .ddf .marcas .material-label .color-name,
          .main .filtros .ddf .marcas .material-label .material-name,
          .main .filtros .ddf .colores .marca-label .brand-name,
          .main .filtros .ddf .colores .marca-label .color-name,
          .main .filtros .ddf .colores .marca-label .material-name,
          .main .filtros .ddf .colores .color-label .brand-name,
          .main .filtros .ddf .colores .color-label .color-name,
          .main .filtros .ddf .colores .color-label .material-name,
          .main .filtros .ddf .colores .material-label .brand-name,
          .main .filtros .ddf .colores .material-label .color-name,
          .main .filtros .ddf .colores .material-label .material-name,
          .main .filtros .ddf .materiales .marca-label .brand-name,
          .main .filtros .ddf .materiales .marca-label .color-name,
          .main .filtros .ddf .materiales .marca-label .material-name,
          .main .filtros .ddf .materiales .color-label .brand-name,
          .main .filtros .ddf .materiales .color-label .color-name,
          .main .filtros .ddf .materiales .color-label .material-name,
          .main .filtros .ddf .materiales .material-label .brand-name,
          .main .filtros .ddf .materiales .material-label .color-name,
          .main .filtros .ddf .materiales .material-label .material-name {
            font-weight: bold; }
          .main .filtros .ddf .marcas .marca-label .counter,
          .main .filtros .ddf .marcas .color-label .counter,
          .main .filtros .ddf .marcas .material-label .counter,
          .main .filtros .ddf .colores .marca-label .counter,
          .main .filtros .ddf .colores .color-label .counter,
          .main .filtros .ddf .colores .material-label .counter,
          .main .filtros .ddf .materiales .marca-label .counter,
          .main .filtros .ddf .materiales .color-label .counter,
          .main .filtros .ddf .materiales .material-label .counter {
            margin-left: auto;
            color: #777; }
        .main .filtros .ddf .marcas.mostrar,
        .main .filtros .ddf .colores.mostrar,
        .main .filtros .ddf .materiales.mostrar {
          display: flex; }
      .main .filtros .ddf .precio {
        display: none;
        flex-direction: column; }
        .main .filtros .ddf .precio .slider {
          position: relative; }
          .main .filtros .ddf .precio .slider #minPrice,
          .main .filtros .ddf .precio .slider #maxPrice {
            margin: 0 10px; }
          .main .filtros .ddf .precio .slider input[type="range"] {
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            height: 10px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            transition: opacity 0.2s; }
            .main .filtros .ddf .precio .slider input[type="range"]:hover {
              opacity: 1; }
            .main .filtros .ddf .precio .slider input[type="range"]::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #313932;
              cursor: pointer; }
            .main .filtros .ddf .precio .slider input[type="range"]::-moz-range-thumb {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #4caf50;
              cursor: pointer; }
        .main .filtros .ddf .precio.mostrar {
          display: block; }
  .main .grid2 {
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Cuatro columnas iguales */
    grid-template-rows: repeat(4, auto);
    /* Cuatro filas automáticas */
    gap: 20px;
    /* Espacio entre las celdas del grid */ }
    .main .grid2 .producto {
      width: 100%;
      height: 388px;
      display: flex;
      flex-direction: column; }
      .main .grid2 .producto .p-img {
        position: relative;
        height: 300px;
        width: 300px;
        border-right: 1px solid rgba(0, 0, 0, 0.074);
        border-left: 1px solid rgba(0, 0, 0, 0.075); }
        .main .grid2 .producto .p-img .off {
          position: absolute;
          z-index: 1000;
          transition: opacity 0.2s ease-in-out;
          opacity: 1;
          /* Posiciona de forma absoluta con respecto al padre */
          top: 0;
          /* Lo sitúa en la parte superior */
          left: 0;
          /* Lo sitúa en la parte izquierda */
          background-color: #e21010;
          padding: 2px;
          text-align: center;
          color: white;
          width: 70px;
          height: 20px; }
        .main .grid2 .producto .p-img .image-container {
          position: relative;
          width: 100%;
          height: 100%;
          transition: opacity 0.2s ease-in-out; }
          .main .grid2 .producto .p-img .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.2s ease-in-out; }
          .main .grid2 .producto .p-img .image-container .original {
            opacity: 1; }
          .main .grid2 .producto .p-img .image-container .hover {
            opacity: 0; }
        .main .grid2 .producto .p-img .lupa {
          position: absolute;
          font-size: 18px;
          right: 10px;
          bottom: 20px;
          width: 44px;
          height: 44px;
          background-color: #bab9b9;
          color: #fff9f9;
          border-radius: 50%;
          pointer-events: none;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(60px);
          transition: all 0.2s ease-in-out;
          opacity: 0; }
        .main .grid2 .producto .p-img:hover .off {
          opacity: 0; }
        .main .grid2 .producto .p-img:hover .image-container .original {
          opacity: 0; }
        .main .grid2 .producto .p-img:hover .image-container .hover {
          opacity: 1; }
        .main .grid2 .producto .p-img:hover .lupa {
          opacity: 1;
          transform: translateY(0); }
      .main .grid2 .producto .p-info {
        width: 300px;
        padding: 10px;
        font-family: "Fauna One", serif;
        font-size: 18px; }
        .main .grid2 .producto .p-info .p-titulo {
          text-decoration: none;
          font-weight: 800;
          color: rgba(0, 0, 0, 0.625); }
          .main .grid2 .producto .p-info .p-titulo:hover {
            color: rgba(0, 0, 0, 0.885); }
        .main .grid2 .producto .p-info .p-precio {
          padding-top: 10px;
          font-weight: 100;
          color: rgba(238, 39, 39, 0.837); }
          .main .grid2 .producto .p-info .p-precio:hover {
            color: #ee2727; }
        .main .grid2 .producto .p-info p {
          display: none;
          font-size: 23px; }
    .main .grid2.list-view {
      display: flex;
      flex-direction: column; }
      .main .grid2.list-view .producto {
        width: 100%;
        height: auto;
        flex-direction: row; }
        .main .grid2.list-view .producto .p-img {
          height: 300px;
          width: 300px;
          border-right: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.074); }
          .main .grid2.list-view .producto .p-img .lupa {
            display: none; }
        .main .grid2.list-view .producto .p-info {
          width: calc(100% - 300px);
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.074); }
          .main .grid2.list-view .producto .p-info p {
            display: block;
            font-size: 23px;
            padding-top: 20px; }

.main-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px; }
  .main-item .container {
    position: relative;
    width: 50%;
    margin-left: 60px; }
    .main-item .container .mySlides {
      display: none; }
      .main-item .container .mySlides .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0; }
      .main-item .container .mySlides img {
        width: 100%;
        border-left: solid 1px rgba(197, 195, 195, 0.771);
        border-right: solid 1px rgba(197, 195, 195, 0.771); }
      .main-item .container .mySlides .fa-search {
        position: absolute;
        top: 0;
        right: 0;
        padding: 13px;
        font-size: 23px;
        color: #fff6f6;
        border-radius: 50%;
        background-color: #7b7777;
        transition: background-color 0.3s;
        cursor: pointer; }
      .main-item .container .mySlides .fa-search:hover {
        background-color: #333131; }
    .main-item .container .prev,
    .main-item .container .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      user-select: none;
      -webkit-user-select: none; }
      .main-item .container .prev.prev,
      .main-item .container .next.prev {
        left: 0;
        border-radius: 3px 0 0 3px;
        background-color: rgba(0, 0, 0, 0.5); }
      .main-item .container .prev.next,
      .main-item .container .next.next {
        right: 0;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0, 0, 0, 0.5); }
      .main-item .container .prev:hover,
      .main-item .container .next:hover {
        background-color: rgba(0, 0, 0, 0.8); }
    .main-item .container .row:after {
      content: "";
      display: table;
      clear: both; }
    .main-item .container .prev-thumbnails,
    .main-item .container .next-thumbnails {
      position: absolute;
      top: 90%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 20px;
      cursor: pointer;
      padding: 10px; }
      .main-item .container .prev-thumbnails:hover,
      .main-item .container .next-thumbnails:hover {
        background-color: rgba(0, 0, 0, 0.8); }
    .main-item .container .prev-thumbnails {
      left: 0;
      border-radius: 3px 0 0 3px; }
    .main-item .container .next-thumbnails {
      right: 0;
      border-radius: 0 3px 3px 0; }
    .main-item .container .row {
      overflow: hidden; }
      .main-item .container .row .column {
        float: left;
        width: 16.66%;
        cursor: pointer; }
        .main-item .container .row .column .demo {
          opacity: 1; }
          .main-item .container .row .column .demo:hover {
            opacity: 0.6; }
        .main-item .container .row .column:hover {
          border-top: solid 1px rgba(197, 195, 195, 0.771); }
    .main-item .container .active {
      opacity: 1; }
  .main-item .product-details {
    width: 50%;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    color: #333;
    filter: grayscale(100%);
    transition: filter 0.3s ease; }
    .main-item .product-details:hover {
      filter: grayscale(0%); }
    .main-item .product-details h2 {
      font-size: 24px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      color: #000; }
    .main-item .product-details .price {
      font-size: 18px;
      margin-bottom: 10px;
      padding-bottom: 10px; }
      .main-item .product-details .price .current-price {
        color: #000; }
      .main-item .product-details .price .original-price {
        color: #999;
        text-decoration: line-through; }
    .main-item .product-details .installments {
      font-size: 16px;
      margin-bottom: 10px; }
    .main-item .product-details .options {
      margin-bottom: 10px; }
      .main-item .product-details .options .size-options, .main-item .product-details .options .color-options {
        margin-bottom: 10px; }
        .main-item .product-details .options .size-options p, .main-item .product-details .options .color-options p {
          font-size: 16px;
          padding-bottom: 10px;
          margin-bottom: 5px;
          color: #666; }
        .main-item .product-details .options .size-options .sizes, .main-item .product-details .options .color-options .sizes {
          display: flex; }
          .main-item .product-details .options .size-options .sizes .size-btn, .main-item .product-details .options .color-options .sizes .size-btn {
            font-size: 14px;
            padding: 5px 20px;
            margin-right: 10px;
            border: 1px solid #ccc;
            background-color: #fff;
            color: #666;
            cursor: pointer;
            transition: background-color 0.3s ease; }
            .main-item .product-details .options .size-options .sizes .size-btn:hover, .main-item .product-details .options .color-options .sizes .size-btn:hover {
              background-color: #f0f0f0; }
      .main-item .product-details .options .quantity-selector {
        display: flex;
        align-items: center; }
        .main-item .product-details .options .quantity-selector .quantity-btn {
          font-size: 18px;
          padding: 5px 10px;
          border: 1px solid #ccc;
          background-color: #fff;
          color: #666;
          cursor: pointer;
          transition: background-color 0.3s ease; }
          .main-item .product-details .options .quantity-selector .quantity-btn:hover {
            background-color: #f0f0f0; }
        .main-item .product-details .options .quantity-selector .quantity-input {
          width: 50px;
          margin: 0 10px;
          padding: 5px;
          border: 1px solid #ccc;
          background-color: #fff;
          color: #666; }
    .main-item .product-details .add-to-cart-btn {
      font-size: 18px;
      padding: 10px 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 30px;
      border: none;
      background-color: #000;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      .main-item .product-details .add-to-cart-btn:hover {
        background-color: #333; }
    .main-item .product-details .shipping-info {
      display: flex;
      align-items: center;
      font-size: 16px;
      margin-top: 10px; }
      .main-item .product-details .shipping-info i {
        margin-right: 5px;
        color: #000; }
      .main-item .product-details .shipping-info h4 {
        margin: 0;
        color: #000; }
    .main-item .product-details hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 20px 0; }
    .main-item .product-details .product-description {
      flex-direction: column;
      font-size: 16px;
      color: #666;
      margin-bottom: 20px;
      width: 100%; }
      .main-item .product-details .product-description .toggle-description-btn {
        font-size: 23px;
        padding: 5px 10px;
        float: right;
        margin-right: 30px;
        background-color: white;
        border: none;
        color: #666;
        cursor: pointer;
        transition: color 0.3s ease; }
        .main-item .product-details .product-description .toggle-description-btn:hover {
          color: #141313; }
      .main-item .product-details .product-description .full-description {
        display: none;
        margin-top: 20px; }
        .main-item .product-details .product-description .full-description.mostrar {
          display: block; }

.footer {
  height: 406px;
  background-color: #232323;
  color: white;
  padding: 10px 3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Fauna One", serif;
  overflow-x: hidden; }
  .footer .footer-sec {
    padding: 10px;
    margin: 0px 30px; }
    .footer .footer-sec h3 {
      font-size: 20px;
      font-weight: 700; }
    .footer .footer-sec ul {
      list-style-type: none; }
      .footer .footer-sec ul a {
        width: 100%;
        font-weight: 700;
        text-decoration: none; }
        .footer .footer-sec ul a li {
          color: rgba(255, 255, 255, 0.616);
          font-size: 16px;
          padding-top: 5px;
          font-weight: 300; }
          .footer .footer-sec ul a li:hover {
            color: white; }
    .footer .footer-sec p {
      padding-top: 13px;
      padding-bottom: 13px; }
    .footer .footer-sec section input {
      height: 27px;
      width: 350px;
      padding: 5px 10px;
      border-radius: 50px;
      color: white;
      border: 1px solid rgba(165, 164, 164, 0.474);
      background-color: transparent; }
    .footer .footer-sec .iconos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 13px;
      font-size: 23px; }
  .footer .footer-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around; }
    .footer .footer-img a .dataimg {
      width: 40px;
      height: 50px;
      float: center;
      padding-top: 30px; }
    .footer .footer-img a img {
      width: 80px; }
    .footer .footer-img h3 {
      padding: 30px; }

@media (max-width: 992px) {
  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-left: 8px; }
    .footer .footer-sec {
      width: 100%; } }
