header {
    display: flex;
    flex-direction: column;
    height: 800px;
    margin-bottom: 0;
    padding-bottom: 0;

    .topbar {
        height: 39px;
        background-color: rgba(0, 0, 0, 0.618);
        margin: 0;
        padding: 0;

        p {
            color: white;
            text-align: center;

            font-size: 18px;
            line-height: 39px;
            padding-top: px;
        }
    }

    .section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px 0px;
        height: 137px;

        .menu-icon {
            display: none;
            /* Ocultar el icono del menú en pantallas grandes */
        }

        .mhamb {
            display: none;
            position: absolute;
            padding-top: 18px;
            top: 0;
            left: 0;
            /* Alinea el menú a la izquierda */
            z-index: 1000;
            /* Z-index alto para que aparezca encima de otros elementos */
            background-color: white;
            max-width: 331px;
            /* Ancho máximo */
            height: 640px;
            /* Altura automática */
            border: 1px solid rgba(165, 164, 164, 0.474);
            font-family: "Fauna One", serif;
            overflow-y: auto;
            /* Agrega un scroll vertical si el contenido es demasiado largo */
            /* Flexbox para disposición en columnas */
            flex-direction: column;

            .close-icon {
                position: absolute;
                font-size: 20px;
                top: 10px;
                right: 10px;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.5);
            }

            ul {
                flex: 1;
                /* Ocupa todo el espacio restante */
                list-style-type: none;
                padding: 0;
                padding-left: 5px;
                margin: 0;

                .titulol {
                    padding: 15px 0;
                    font-weight: 800;
                    font-size: 27px;
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.685);

                    &:hover {
                        color: rgb(0, 0, 0);
                    }
                }

                .hr {
                    width: 90%;
                    height: 1px;
                    margin: 10px 0;
                    background-color: rgba(122, 120, 120, 0.811);
                }

                li {
                    padding: 5px 0;

                    a {
                        padding: 15px 0;
                        font-weight: 800;
                        font-size: 16px;
                        text-decoration: none;
                        color: rgba(86, 81, 81, 0.477);

                        &:hover {
                            color: rgb(86, 81, 81);
                        }
                    }
                }
            }

            &.visible {
                display: block;
            }

            /* Estilos del scrollbar */
            &::-webkit-scrollbar {
                width: 7px; // Ancho del scrollbar
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1; // Color de fondo del scrollbar track
            }

            &::-webkit-scrollbar-thumb {
                background: #888; // Color del scrollbar thumb (el botón que se desplaza)
                border-radius: 5px; // Borde redondeado del scrollbar thumb
            }
        }

        .logo {

            img {
                padding: 23px;
                height: 50px;
                width: 235px; // Establece el ancho máximo del logo
            }
        }

        .search {
            position: relative;
            display: inline-block;

            input {
                height: 39px;
                width: 632px;
                padding: 5px 10px;
                border-radius: 50px;
                border: 1px solid rgba(165, 164, 164, 0.474);

                &:focus {
                    border-color: rgba(122, 120, 120, 0.811);
                    outline: none; // Elimina el contorno predeterminado al hacer clic en el input
                }
            }

            .fa-search {
                position: absolute;
                padding-right: 5px;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #555;
                pointer-events: none;
            }
        }

        .links {
            ul {
                display: flex;
                list-style: none;
                align-items: center;
                text-decoration: none;
                padding: 0;
                margin-right: 50px;

                li {
                    margin-right: 40px; // Ajusta el espacio entre los elementos de la lista
                    font-family: "Fauna One", serif;
                    font-weight: 800;

                    a {
                        width: 90px;
                        height: 50px;
                        font-size: 20px;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.827);

                        &:hover {
                            color: rgb(0, 0, 0);
                        }
                    }

                    .button {
                        background-color: transparent; // Establece el color de fondo del botón como transparente
                        border: none; // Elimina el borde del botón
                        padding: 0; // Elimina el relleno del botón
                        cursor: pointer; // Establece el cursor al pasar el ratón sobre el botón
                        display: flex; // Permite alinear verticalmente el texto e icono dentro del botón
                        height: 50px;
                        align-items: center;

                        span {
                            padding-right: 10px; // Añade un pequeño margen entre el texto y el icono
                            font-size: 20px;
                            font-family: "Fauna One", serif;
                            font-weight: 800;
                            color: rgba(0, 0, 0, 0.685);

                            &:hover {
                                color: rgb(0, 0, 0);
                            }
                        }

                        .fa-cart-shopping {
                            padding: 0px 10px;
                            font-size: 20px; // Ajusta el tamaño del icono según sea necesario


                            .item-counter {
                                // display: none;
                                position: absolute; // Posiciona el contador de elementos
                                right: 60px; // Ajusta la posición horizontal del contador
                                background-color: rgb(221, 68, 68); // Color de fondo del contador
                                color: white; // Color de texto del contador
                                border-radius: 50%; // Estilo de borde redondeado
                                padding: 5px; // Espacio alrededor del contenido del contador
                                font-size: 0.8em; // Tamaño del texto del contador
                            }
                        }
                    }
                }
            }
        }
    }

    // Opcional: Agregar estilos para el menú de navegación
    .nav {
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        height: 600px;
        margin-top: 0px;
        margin-bottom: 0;
        padding-bottom: 0;

        .navl {
            display: flex;
            justify-content: center;
            list-style: none;
            padding-top: 10px;
            font-family: "Fauna One", serif;
            font-size: 23px;

            li {
                margin-right: 20px; // Ajusta el espacio entre los elementos de la lista

                a {
                    text-decoration: none;
                    font-weight: 800;
                    color: rgba(0, 0, 0, 0.685);

                    &:hover {
                        color: rgb(0, 0, 0);
                    }

                    span {
                        padding: 13px;
                    }
                }
            }

        }


        .ddmm {
            position: absolute; // Hace que el menú desplegable sea posicionado absolutamente
            top: calc(100% + 10px); // Coloca el menú justo debajo del menú principal

            z-index: 2; // Asegura que el menú desplegable esté por encima del buffer
            display: none; // Oculta el menú desplegable por defecto
            background-color: white;
            width: 1100px;
            height: 310px;
            border: 1px solid rgba(165, 164, 164, 0.474);


            justify-content: space-around;
            font-family: "Fauna One", serif;
            margin-top: 0px; // Ajusta según sea necesario
            margin-left: 200px; // Centra horizontalmente el elemento




            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;


                .titulol {
                    padding-top: 15px;
                    font-weight: 800;
                    font-size: 27px;
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.685);

                    &:hover {
                        color: rgb(0, 0, 0);
                    }

                }

                .hr {
                    width: 90%;
                    height: 1px;
                    margin-top: 10px;
                    margin-left: 0px;
                    background-color: rgba(122, 120, 120, 0.811);
                    text-align: left;
                }

                li {
                    padding-top: 5px;

                    a {
                        padding-top: 15px;
                        font-weight: 800;
                        font-size: 16px;
                        text-decoration: none;
                        color: rgba(86, 81, 81, 0.477);

                        &:hover {
                            color: rgb(86, 81, 81);
                        }
                    }
                }
            }

            &.visible {
                display: flex;
            }
        }
    }

    .buffer {
        position: relative;
        z-index: 1;

        margin-top: 30px;
        margin-bottom: 0px;
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: space-around;


        a {
            img {
                height: 550px;
                width: 630px;
            }
        }
    }
}


@media screen and (max-width: 1300px) {
    header {
        .section {
            justify-content: space-around;

            .menu-icon {
                display: block;
                /* Mostrar el icono del menú en pantallas pequeñas */
                margin-left: 40px;
                font-size: 27px;
                cursor: pointer;
            }

            .logo {

                img {
                    padding: 23px;
                    height: auto;
                    width: 185px; // Establece el ancho máximo del logo
                }
            }

            // .mhamb {
            //     display: none;
            //     position: absolute;
            //     top: calc(100% + 10px);
            //     left: 10px;
            //     /* Alinea el menú a la izquierda */
            //     z-index: 1000;
            //     /* Z-index alto para que aparezca encima de otros elementos */
            //     display: none;
            //     background-color: white;
            //     width: 30%;
            //     /* Ancho del 30% */
            //     max-width: 300px;
            //     /* Ancho máximo */
            //     height: auto;
            //     /* Altura automática */
            //     border: 1px solid rgba(165, 164, 164, 0.474);
            //     font-family: "Fauna One", serif;
            //     overflow-y: auto;
            //     /* Agrega un scroll vertical si el contenido es demasiado largo */

            //     /* Flexbox para disposición en columnas */

            //     flex-direction: column;

            //     .close-icon {
            //         position: absolute;
            //         top: 10px;
            //         right: 10px;
            //         cursor: pointer;
            //         color: rgba(0, 0, 0, 0.5);
            //     }

            //     ul {
            //         flex: 1;
            //         /* Ocupa todo el espacio restante */
            //         list-style-type: none;
            //         padding: 0;
            //         margin: 0;

            //         .titulol {
            //             padding: 15px 0;
            //             font-weight: 800;
            //             font-size: 27px;
            //             text-decoration: none;
            //             color: rgba(0, 0, 0, 0.685);

            //             &:hover {
            //                 color: rgb(0, 0, 0);
            //             }
            //         }

            //         .hr {
            //             width: 90%;
            //             height: 1px;
            //             margin: 10px 0;
            //             background-color: rgba(122, 120, 120, 0.811);
            //         }

            //         li {
            //             padding: 5px 0;

            //             a {
            //                 padding: 15px 0;
            //                 font-weight: 800;
            //                 font-size: 16px;
            //                 text-decoration: none;
            //                 color: rgba(86, 81, 81, 0.477);

            //                 &:hover {
            //                     color: rgb(86, 81, 81);
            //                 }
            //             }
            //         }
            //     }

            //     &.visible {
            //         display: block;
            //     }
            // }


            .logo {
                img {
                    padding-right: 5px;
                }
            }

            .search {
                display: none;
            }

            .links {
                ul {
                    flex-direction: column;
                    margin-right: 10px;

                    li {
                        .button {
                            .fa-cart-shopping {
                                .item-counter {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .nav {
            display: none;

        }

        .buffer {
            position: relative;
            z-index: 1;

            margin-top: 30px;
            margin-bottom: 0px;
            width: 100%;
            height: auto;
            /* Cambiado a auto para permitir que el alto sea dinámico */
            display: flex;
            flex-direction: column;
            /* Cambiado a columna para que las imágenes se ubiquen en columna */

            a {
                img {
                    max-width: 100%;
                    /* Cambiado a un ancho máximo del 100% para que las imágenes sean responsivas */
                    height: auto;
                    /* Cambiado a auto para que la altura se ajuste proporcionalmente */
                }
            }
        }
    }
}