.tituloi {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 41px;
    padding-top: 20px;
    margin-bottom: 0;

    .bordet {
        font-family: "Fauna One", serif;
        font-size: 23px;
        text-decoration: none;
        padding: 13px;
        color: rgba(0, 0, 0, 0.827);
        vertical-align: center;
        border-bottom: 1px solid rgba(122, 120, 120, 0.811);

        &:hover {
            color: rgb(0, 0, 0);
        }
    }
}

.grid {
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Cuatro columnas iguales */
    grid-template-rows: repeat(4, auto);
    /* Cuatro filas automáticas */
    gap: 20px;
    /* Espacio entre las celdas del grid */

    .producto {
        width: 300px;
        height: 388px;
        display: flex;
        flex-direction: column;

        .p-img {
            position: relative;
            height: 300px;
            width: 300px;
            border-right: 1px solid rgba(0, 0, 0, 0.074);
            border-left: 1px solid rgba(0, 0, 0, 0.075);

            .off {
                position: absolute;
                z-index: 1000;
                transition: opacity 0.2s ease-in-out;
                opacity: 1;
                ; // Asegura que el span esté visible inicial
                /* Posiciona de forma absoluta con respecto al padre */
                top: 0;
                /* Lo sitúa en la parte superior */
                left: 0;
                /* Lo sitúa en la parte izquierda */
                background-color: rgb(226, 16, 16);
                padding: 2px;
                text-align: center;
                color: white;
                width: 70px;
                height: 20px;

            }


            .image-container {
                position: relative;
                width: 100%;
                height: 100%;
                transition: opacity 0.2s ease-in-out; // Añade una transición suave para la opacidad de las imágenes

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: opacity 0.2s ease-in-out; // Añade una transición suave para la opacidad
                }


                .original {
                    opacity: 1; // Hace que la imagen original sea visible por defecto
                }

                .hover {
                    opacity: 0;
                }
            }

            .lupa {
                position: absolute;
                font-size: 18px;
                right: 10px;
                bottom: 20px;
                width: 44px;
                height: 44px;
                background-color: rgb(186, 185, 185);
                color: #fff9f9;
                border-radius: 50%;
                pointer-events: none;
                display: flex;
                justify-content: center; // Centra horizontalmente
                align-items: center; // Centra verticalmente

                transform: translateY(60px);
                transition: all 0.2s ease-in-out;
                opacity: 0;
            }

            &:hover {

                .off {
                    opacity: 0;
                }

                .image-container {

                    // Hace que las imágenes aparezcan al pasar el mouse
                    .original {
                        opacity: 0;
                    }

                    .hover {
                        opacity: 1;
                    }
                }

                .lupa {
                    opacity: 1; // Hace que la lupa aparezca al pasar el mouse
                    transform: translateY(0);
                }
            }

        }

        .p-info {
            width: 300px;
            padding: 10px;
            // height: auto;
            font-family: "Fauna One", serif;
            font-size: 18px;



            .p-titulo {
                text-decoration: none;
                font-weight: 800;
                color: rgba(0, 0, 0, 0.625);

                &:hover {
                    color: rgba(0, 0, 0, 0.885);
                }
            }

            .p-precio {
                padding-top: 10px;
                font-weight: 100;
                color: rgba(238, 39, 39, 0.837);

                &:hover {
                    color: rgb(238, 39, 39);
                }
            }
        }
    }

}

.buffer2 {
    position: relative;
    width: 100%;
    height: 345px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     a {
        img {
            height: 345px;
            width: 300px;


        }
    }
}

.buffer3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: rgb(250, 250, 250);
    .bimg{
        text-align: center;
        font-size: 39px;
       
        h4{
            padding-top: 30px;
            font-size: 23px;
        }
    }
}
.buffer4{
    margin: 30px 10px;
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media (max-width: 992px) {
    .grid {
        grid-template-columns: 1fr; // Cambia a una sola columna cuando el ancho de la pantalla es menor o igual a 992px
        align-items: center;
    }

    .buffer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .buffer3{
        display: flex;
        flex-direction: column;
        height:auto;
    }
    .buffer4{
        display: flex;
        flex-direction: column;
        height:auto;
    }
    
}