*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Fauna One", serif;
    /* Estilo del scrollbar */
    &::-webkit-scrollbar {
        width: 10px; // Ancho del scrollbar
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; // Color de fondo del scrollbar track
    }

    &::-webkit-scrollbar-thumb {
        background: #888; // Color del scrollbar thumb (el botón que se desplaza)
        border-radius: 5px; // Borde redondeado del scrollbar thumb
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555; // Cambia el color del thumb cuando se pasa el mouse sobre él
    }
}